*

html {
      height: 100%;
    }
    head {

    }
    body {
       height: 100%;
    }

#music {
position: relative;
top: 75px;
left: -280px;
}

    header {
        background-color: ;
        padding: 5px;
        border: 10px solid #000000;
        top: 0px;
        left:200;
        margin-right: 300px;
        font-size: ;
        display: inline-block;
        border-radius: 75px;
    }
    nav {
        float: left;
    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }

#DVA {
  margin-left: 500px;
}

    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: left;
        position: relative;
        top: 240;
        left: 435;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
